<!--The content below is only a placeholder and can be replaced.-->
    <div class="col-md-1"></div>
<nav class="navbar navbar-default col-md-10">
    <ul class="nav navbar-nav col-md-12">
        <li class="nav-item col-md-1">
            <a class="navbar-brand" routerLink="/">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </li>
        <li class="nav-item col-md-4 text-center">
          <a class="nav-link" routerLink="/partners">Nombre de partenaire commercial par pays</a>
        </li>
        <li class="nav-item col-md-4 text-center">
          <a class="nav-link" routerLink="/exports">Exportations par année</a>
        </li>
        <li class="nav-item col-md-3 text-center">
          <a class="nav-link" routerLink="/imports">Importation par année</a>
        </li>
      </ul>
</nav>
    <div class="col-md-1"></div>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
  </div>