<div class="col-md-12 text-center">
  <h1>Projet NoSQL (MBD)</h1>
  <h4>Réalisation d'une application pour la visualisation des données financière</h4>
</div>
<div class="col-md-6">
<h3>Technologies utilisées:</h3>
<ul>
  <li>Node.js</li>
  <li>Angular 6</li>
  <li>MongoDB</li>
  <li>TypeScript</li>
  <li>HighCharts</li>
  <li>DataFrame.js</li>
  <li>Bootstrap</li>
</ul>
</div>
<div class="col-md-6">
  <h3>Realisé par:</h3>
  <ul>
    <li>MARRAKCHI Ayoub</li>
    <li>NAJJARI Mohamed Hilal</li>
  </ul>
</div>